.loading-indicator {
  display: flex;
  flex-direction: column;
  width: var(--width, 20rem);
  max-width: calc(100% - 2rem);
}

.loading-indicator__bar {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 4px;
  margin-bottom: 0.5rem;

  background-color: var(--background, #eee);
  transition: background-color 0.25s ease-in-out;
}

.loading-indicator__bar::after {
  content: '';

  position: absolute;

  width: 50%;
  height: 100%;

  background-color: var(--color, #4285F4);
  transition: background-color 0.25s ease-in-out;

  animation: loading-indicator__bar 1.5s infinite ease-in-out;
}

.loading-indicator--complete > .loading-indicator__bar {
  background-color: var(--complete, hsl(149, 70%, 45%));
}

.loading-indicator--complete > .loading-indicator__bar::after {
  background-color: var(--complete, hsl(149, 70%, 45%));
}

.loading-indicator__label {
  text-align: center;
  font-family: system-ui;
}

@keyframes loading-indicator__bar {
  from, to {
    left: 10%;
    transform: translateX(-100%);
  }
  50% {
    left: 90%;
    transform: translateX(0);
  }
}
